body{
    font-family: 'Neucha', cursive;
    background-color: #BAC2C6;

}


.first{
    min-height: 150px;
}

.third{
    min-height: 150px;
}

header{
    background-color: #646a6e;
    color: white;
    min-height: 150px;
}

img{
    width: 290px;
    height: 290px;
    
}

img:hover{
    filter: drop-shadow(5px 5px 5px black);
}

.second{
    padding: 30px;
}

.item{
    padding:20px;
}

input{
    border: none;
    background-color: #BAC2C6;
}

input:hover{
    color:white;
}

a{
    color:#8261d4;
}

a:hover{
    color: white;
}

