body{
    font-family: 'Neucha', cursive;
    background-color: #BAC2C6;

}

header{
    background-color: #646a6e;
    color: white;
}

.first{
    min-height: 150px;
}

.item-2{
    margin-top: 30px;
}
form{

    padding:25px;
    text-align:center;
    background-color: white;
    width:800px;
    height:100%;
    margin-top: 30px;
    margin-bottom: 30px;
}

label{
    font-size:14px;
}

input{
    border: 2px solid grey;
    color: grey;
    margin: 0 0 10px;
    padding: 15px 10px 15px 40px;
    width: 400px;
}

input::placeholder{
    font-size:14px;
}

textarea:hover{
    filter: drop-shadow(2px 2px 2px black);
}

input:hover{
    filter: drop-shadow(2px 2px 2px black);
}

input[type="submit"] {
    width: 400px;
    padding: 15px;
}


textarea{
    width: 420px;
    height: 200px;
    padding:15px;
}

.item-15{
    background-color: #BAC2C6;
    border:none;
}
.main{
    width:200px;
    padding:5px;
    font-size:16px;
}